pkgbase = steam-jupiter
	pkgdesc = Valve's digital software delivery system
	pkgver = 1.0.0.74
	pkgrel = 2.19
	url = https://steampowered.com/
	arch = x86_64
	license = custom
	depends = bash
	depends = desktop-file-utils
	depends = diffutils
	depends = hicolor-icon-theme
	depends = curl
	depends = dbus
	depends = freetype2
	depends = gdk-pixbuf2
	depends = ttf-font
	depends = zenity
	depends = lsb-release
	depends = nss
	depends = usbutils
	depends = xorg-xrandr
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = lsof
	depends = python
	optdepends = lib32-libnm: integration with networkmanager
	provides = steam
	conflicts = steam
	source = https://steamdeck-packages.steamos.cloud/archlinux-mirror/jupiter-main/os/x86_64/steam-jupiter-stable-1.0.0.74-2.19-x86_64.pkg.tar.zst
	sha256sums = 8c14484954f890ac6e3754dae20dd014400fe5b2fc9d351ac9e5b198de97ef4c
	depends_x86_64 = lib32-libgl
	depends_x86_64 = lib32-gcc-libs
	depends_x86_64 = lib32-libx11
	depends_x86_64 = lib32-libxss
	depends_x86_64 = lib32-alsa-plugins
	depends_x86_64 = lib32-libgpg-error
	depends_x86_64 = lib32-fontconfig
	depends_x86_64 = lib32-nss
	depends_x86_64 = lib32-vulkan-driver
	depends_x86_64 = lib32-vulkan-icd-loader
	depends_x86_64 = lib32-pipewire
	depends_x86_64 = lib32-systemd
	depends_x86_64 = lib32-libxinerama
	depends_x86_64 = lib32-libva

pkgname = steam-jupiter
